/* Minor tweak */
.bd-main {
  width: 100%;
}

/* Fix for dark mode */
body {
  background-color: var(--pst-color-background) !important; 
  color: var(--pst-color-text-base) !important; 
}

#rtd-footer-container{
  display: none !important;
}

/* Needed for custom next-prev section thing */
section section:not(:nth-child(3)) {
  display: none;
}

/* Fixes */

header{
  display: none !important;
}

button.search-button,
button.secondary-toggle{
  display: none !important;
}

/* Custom layout */

h1{
  text-transform: uppercase;
  color: #9db7be !important;
}

.headerlink{
  display: none !important;
}

/* Custom menu */

.title{
  text-transform: uppercase;
}

nav.bd-links .current>a{
  box-shadow: unset;
}

li.current{
  background-color: #9db7be;
}

a.current{
  color: white !important;
}

.bd-docs-nav{
  font-weight: bold;
}

/* Image spacing */
.spacing-b10 {
  margin-bottom: 10px;
}

.spacing-b20 {
  margin-bottom: 20px;
}

.spacing-b30 {
  margin-bottom: 30px;
}

/* Buttons */
.button1 {
    font-size: 1.0rem;        
    padding: 50px 20px 50px;       
    border-radius: 5px;         
    background-color: #6089BA;   /* Aangepaste achtergrondkleur */
    color: #000000;                /* Tekstkleur */
    border: none;               
    text-decoration: none;       
    display: inline-block;       
    font-weight: bold;
}

.button1:hover {
    background-color: #B8D1EB;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.disabled-card {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
